body {
    background-color: black;
    background-image: url('bg.png');
    overflow: hidden;
    font-family: Poppins;
}

.trans {
    transition: 500ms ease-in-out;
}

#container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#card {
    background-color: rgba(156, 163, 175, 0.2);
    width: 16vw;
    height: 10.5vw;
    border-radius: 0.7rem;
    text-align: center;
    border: 1px solid white;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

img {
    width: 1.8vw;
    height: 1.8vw;
    margin: 0 0.5vw 0;
}

#title {
    font-weight: bold;
    color: white;
    font-size: 3vw;
    margin: 1vw 0 -0.5vw;
}

#subtitle {
    margin: 0 0 1vw;
    font-weight: bold;
    font-size: 0.95vw;
    color: white;
}