@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    color: white;
    font-weight: bold;
    transition: filter 500ms ease-in-out;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

body {
    margin: 0;
}

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.container :not(img) {
    background-color: rgba(20, 20, 20, 0.8);
}

.img {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin: 1vw 2.5vw 0;
    align-items: center;
    border-radius: 2vw;
}

p {
    margin: 0 2.5vw 0;
}

img {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    filter: invert(1);
}

.title {
    font-size: 5vw;
}

.subtitle {
    font-size: 1.2vw;
}