* {
    color: white;
    font-weight: bold;
    transition: filter 500ms ease-in-out;
}

body {
    background-color: black;
    margin: 0;
    background-image: url('bg.png');
    font-family: Poppins, sans-serif;
}

#container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(156, 163, 175, 0.2);
    width: 16vw;
    height: 10.5vw;
    border-radius: 0.5vw;
    border: 1px solid white;
    padding: 1vw;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

p {
    margin: 0;
    line-height: 2vw;
}

img {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

#title {
    font-size: 3vw;
}

#subtitle {
    font-size: 1.2vw;
}